<html>
    <head>
        <title>Program 3</title>
    </head>
    <script src="../angular.min.js"></script>
    <body ng-app="Prog3">
        <div ng-controller="evaluate">
            <h2>Simple Caclulator</h2>
            <input placeholder="Enter first number" type="number" ng-model="num1"><br /> <br />
            <input placeholder="Enter second number" type="number" ng-model="num2"> <br /> <br />
            Symbol : 
            <select ng-model="symbol" id="sym"><option>+</option><option>-</option><option>/</option><option>*</option></select><br /> <br />
            <input type="button" value="calculate" ng-click="calc()">
            <p>{{expression}}</p>
        </div>
    </body>
</html>

<script>
    var c1 = angular.module("Prog3", []);
    c1.controller("evaluate", function($scope){
        $scope.expression = "";
        $scope.calc = function() {
            if($scope.num1 && $scope.num2 && $scope.symbol != null)
            {
                $scope.expression = $scope.num1 + $scope.symbol + $scope.num2 + " = " + eval($scope.num1 + $scope.symbol + $scope.num2).toFixed(2)
            }
            else
            {
                if($scope.symbol == null)
                {
                    alert("Please select a symbol")
                }
                else if(!$scope.num1)
                {
                    alert("Please enter first number")
                }
                else
                {
                    alert("Please enter second number")
                }
            }
            if($scope.num2 == 0 && $scope.symbol == '/')
            {
                alert("Divide by 0 error")
            }
        }
    });
</script>