<html>
    <head>
        <title>Program 6</title>
    </head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <body ng-app="Prog6">
        <h2>To-Do Tasklist</h2>
        <div ng-controller="display">
            <input placeholder="Enter task to add" id="tsk" type="text" ng-model="task_name">
            <input type="button" value="Add Task" ng-click="add_task()"><br /><br />
            <ul>
                <li ng-repeat="task in tasks">
                <span ng-show="!task.EDITING">{{task.TITLE}}</span>
                <input ng-show="task.EDITING" ng-model="task.TITLE" ng-blur="turnOffEditing(task)">
                <input type="button" value="Edit" ng-click="edit_task(task)">
                <input type="button" value="Delete" ng-click="delete_task(task)">
                </li>
            </ul>
        </div>
    </body>
</html>

<script>
    var c1 = angular.module("Prog6", []);
    c1.controller("display", function($scope){
        $scope.tasks = [
            {"TITLE": "Water plants", "COMPLETED": true, "EDITING":false},
            {"TITLE": "Have coffee", "COMPLETED": false, "EDITING":false}
        ];

        $scope.add_task = function(){
            if($scope.task_name && $scope.tasks.indexOf($scope.task_name) == -1)
            {
                var t = {
                    "TITLE": $scope.task_name,
                    "COMPLETED" : false,
                    "EDITING": false
                }
                $scope.tasks.push(t)
            }
            else
            {
                alert("Please enter task to add")
                document.getElementById("tsk").focus();
                return false
            }
        }

        $scope.edit_task = function(task)
        {
            task.EDITING = true;
        }
        $scope.turnOffEditing = function(task)
        {
            task.EDITING = false;
        }

        $scope.delete_task = function(task){

            var doublecheck = confirm("Are you sure you want to delete the task?");

            if(doublecheck == true)
            {
                $dt = $scope.tasks.indexOf(task)
                $scope.tasks.splice($dt, 1)
            }
            else
            {
                alert("You chose to not remove this task!")
            }
        }
    })
</script>